.node {
    cursor: pointer;
  }
  
  .node:hover {
    stroke: #000;
    stroke-width: 1.5px;
  }
  
  .node--leaf {
    fill: white;
  }
  
  text {
    font: 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    pointer-events: none;
  }
  
  .label,
  .node--root,
  .node--leaf {
    pointer-events: none;
  }